.button-container:hover{
  background: #292B2D;
  transition: background 0.3s ease-in-out;
}

.buttons-container{
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
}

.material-icons{
  font-size: 20px;
  color : white;
  margin-left: 10px;
}

.button-container{
  align-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  width: 75%;
  height: 50px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.button-container-selected{
  align-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  background: #023EC3;
  cursor: pointer;
  margin-right: 12px;
  padding: 0 14px;
}

.button{
  background: transparent;
  border: none;
  color : white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}