<form class="main-container" [formGroup]="loginForm" >

  <h2>Nelister - Wallet</h2>

  <mat-form-field appearance="outline">
    <mat-label>Correo electronico</mat-label>
    <input matInput formControlName="email" name="email">
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="password" [type]="isHidden ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword($event)"
    >
      <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button type="submit" mat-button (click)="login()">Login</button>
</form>