.nav-container{
  display: flex;
  background: #161819;
  flex-direction: column;
  width: 18%;
  height: calc(100vh - 20px);
  border-radius: 10px;
  width: 100%;
}

.menu-title-container{
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.search-container{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
  background-color: #292B2D;
  height: 250px;
  border-radius: 10px;
  margin: 0 25px;
}

.menu-icon{
  display: flex;
  color: white;
  align-items: center;
}

h3{
  color: white;
  font-size: 20px;
  width: 75%;
}

.profile-container{
  margin-top: auto;
  margin-bottom: 12px;
}
@media (max-width: 960px) {
  .nav-container {
    width: 100%;
  }

  .button-container {
    width: 75%;
    margin-left: 5%;
  }

  h3 {
    font-size: 18px;
  }
}