<nav class="nav-container">
  
  <section class="menu-title-container">
    <h3>Nelister</h3>

    <button (click)="onLogout()" mat-mini-fab aria-label="Example icon button with a menu icon">
      <mat-icon>logout</mat-icon>
    </button>
    
  </section>
  
  <!-- General information maybe :D -->
  <section class="search-container">
    
  </section>

  <ng-container *ngFor="let button of buttons">
    <navbar-button
      [button]="button"
    />
  </ng-container>

  <section class="profile-container">
    <navbar-profile />
  </section>

</nav>